body, header{
  font-family:'Courier New', Courier, monospace;
  background: rgb(58, 34, 2);
  color:aliceblue;
  font-size: 85%;
  text-align: center;
}

header{
  border:0ch; /*What does this do?*/
  margin: 20px;
  padding:20px;
  height: 275px;
}

a:link {
  color: greenyellow;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: rgb(231, 33, 231);
}

/* selected link */
a:active {
  color: red;
}
